<div class="register-box">
  <div class="register-logo">
    <a><b>Salon</b>System</a>
  </div>

  <div class="register-box-body">
    <p class="login-box-msg">Register um nova conta</p>

    <form [formGroup]="registerForm" novalidate>

      <slsys-input errorMessage="Nome da empresa deve ser maior que 5 caracteres">
        <input type="text" class="form-control" formControlName="companyName" placeholder="Nome da empresa"> 
        <span class="glyphicon glyphicon-user form-control-feedback"></span>
      </slsys-input>

      <slsys-input errorMessage="Email inválido">
        <input type="email" class="form-control" formControlName="email" placeholder="E-mail"> 
        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
      </slsys-input>

      <slsys-input  errorMessage="Senha deve ter entre 5 a 10 caracteres">
        <input type="password" class="form-control" formControlName="password" placeholder="Digitar senha"> 
        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
      </slsys-input>

      <slsys-input errorMessage="Senha deve ter entre 5 a 10 caracteres">
        <input type="password" class="form-control" formControlName="passwordConfirmation" placeholder="Confirmar Senha"> 
         <span class="glyphicon glyphicon-log-in form-control-feedback"></span>
      </slsys-input>

      <div class="row">
        <div class="col-xs-8">
        </div>
        <!-- /.col -->
        <div class="col-xs-4">
          <button type="submit" [disabled]="!registerForm.valid" class="btn btn-primary btn-block btn-flat">Registrar</button>
        </div>
        <!-- /.col -->
      </div>
    </form>

    <div class="social-auth-links text-center">
      <p>- OR -</p>
      <a href="#" class="btn btn-block btn-social btn-facebook btn-flat"><i class="fa fa-facebook"></i>Entrar com Facebook</a>
      <a href="#" class="btn btn-block btn-social btn-google btn-flat"><i class="fa fa-google-plus"></i>Entrar com Google+</a>
    </div>

    <a [routerLink]="['/login']" class="text-center">Já possuo uma conta</a>
  </div>
  <!-- /.form-box -->
</div>